__pycache__/
*.pyc
.env
.venv/
*.egg-info/
dist/
.chainlit/*
!.chainlit/config.toml
!.chainlit/translations/
.chainlit/translations/*
!.chainlit/translations/en-US.json
!.chainlit/translations/nl.json
.files/
socket:*
chat_history.db

.uv_cache/
data/
tmp/
site/
