__pycache__/
*.pyc
.env
.venv/
*.egg-info/
dist/
.chainlit/*
!.chainlit/translations/
.chainlit/translations/*
!.chainlit/translations/en-US.json
!.chainlit/translations/nl.json
chainlit.md
.files/
socket:*

.uv_cache/
data/
tmp/
site/
